.news-app {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.news-item {
  width: 500px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.news-img {
  width: 400px;
  text-align: center;
}
h1 {
  text-align: center;
}
